section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }
.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form button:hover {
  background: #525252;
}
section h2 {
    font-size: 2rem;
  }
  section > p {
    text-align: center;
  }
  form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
}
.contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
}
.contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
}
.contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
}